

<div class="ui segment story part {{#if output.ok}}green{{else}}red{{/if}}">

  {{#if output.ok}}
    <div>
      <span class="ui green circular label empty"></span>
      <span class="ui basic green label">
        {{output.status}}
      </span>
      {{output.statusText}}
    </div>

    <div class="ui little padded container">

      {{#if output.data}}
        <div class="visualization" data-type="{{type}}"></div>
      {{else}}

        {{#if output.text}}
          <div class="ui warning message">
            <i class="close icon"></i>
            <div class="header">
              Heads up!
            </div>
            The data returned from the service could not be parsed, so
            you are seeing the raw response text instead.
          </div>

            <span class="ui basic orange label">
              {{output.status}}
            </span>
            {{output.text}}
        {{/if}}

      {{/if}}

    </div>

  {{else}}
    <span class="ui red circular label empty"></span>
    <span class="ui basic red label">
      Unknown
    </span>
    {{output.statusText}}
  {{/if}}

</div>
