

<div class="ui segment story part {{#if output.ok}}green{{else}}red{{/if}}"
  data-partidx="{{index}}">


  <div>

    {{#if output.ok}}
      <span class="ui green circular label empty"></span>
      <span class="ui basic green label">
        {{output.status}}
      </span>
    {{else}}
      <span class="ui red circular label empty"></span>
      <span class="ui basic red label">
        {{output.status}}
      </span>
    {{/if}}

    {{output.statusText}}

    <small>in <span class="duration">{{duration}}</span> secs</small>

    {{#if output.data}}

      <div class="ui right floated export output">

        <button class="ui basic compact tiny icon button"
          data-action="save raw data"
          data-id="{{id}}" >
          <i class="save icon"></i>
          Save
        </button>


      </div>
    {{/if}}

  </div>

  <div>

    {{#if output.data}}
      <div class="visualization" data-type="{{type}}"></div>
    {{else}}

      {{#if output.text}}

          <span class="ui basic orange label">
            {{output.status}}
          </span>
          {{output.text}}
      {{/if}}

    {{/if}}

  </div>



</div>
