<div class="accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {{type}}
  </div>
  <div class="content model">

    {{#if definition.optional}}
      <div class="ui toggle checkbox segment" data-toggle="include">
        <input type="checkbox">
        <label>Include in dataset?</label>
      </div>

    {{/if}}

    {{! params form goes here }}
    <div class="ui form equal width"
      {{#if definition.optional}}
        data-optional="true"
        data-include="false"
      {{/if}}

      data-property="{{definition.name}}"
      >

      {{#each definition.properties}}

        {{#if schema}}

        {{! embedded definition go here }}

        {{else}}

          <div class="eight wide field {{#if required}}required{{/if}}"
            {{#if description}}data-tooltip="{{description}}"{{/if}}
            data-position="right center"
            data-property="{{name}}"
            >

            <label>{{name}}</label>

            {{#eq fieldType "select"}}
              <select class="ui dropdown parameter search selection" name="{{name}}"
                data-rules="{{rules}}"

                {{#if selectMultiple}}multiple=""{{/if}}
                {{#if fieldAllowAdditions}}data-allowAdditions="true"{{/if}}
                >
                <option value=""></option>
                {{#each fieldValues}}
                  <option value="{{this}}" {{#eq defaultValue this}}selected{{/eq}}>{{this}}</option>
                {{/each}}
              </select>
            {{/eq}}

            {{#eq fieldType "input"}}
              <input class="ui input parameter" type="{{inputType}}" placeholder="{{description}}" name="{{name}}"
                data-format="{{format}}"
                data-rules="{{rules}}"
                >
            {{/eq}}

            {{#eq fieldType "textarea"}}
              <textarea rows="2" name="description" {{#if description}}data-tooltip="{{description}}"{{/if}}
                placeholder="{{description}}" name="{{name}}" data-format="{{format}}"
                data-rules="{{rules}}"
                ></textarea>
            {{/eq}}

          </div>

        {{/if}}


      {{/each}}

    </div>





  </div>

</div>
