<h4>Dataset</h4>

<div class="ui form equal width">

{{#each parameters}}

  {{#if this.schema}}

  <div class="ui segment">
    <span class="ui basic blue label">{{type}}</span>
  </div>

  {{else}}

    <div class="eight wide field" data-tooltip="{{description}}" data-position="right center">
      <label>{{name}}</label>

      {{#eq fieldType "select"}}
        <select class="ui dropdown parameter" name="{{name}}" {{#if selectMultiple}}multiple=""{{/if}}>
          <option value=""></option>
          {{#each fieldValues}}
            <option value="{{this}}" {{#eq defaultValue this}}selected{{/eq}}>{{this}}</option>
          {{/each}}
        </select>
      {{/eq}}

      {{#eq fieldType "input"}}
        <input class="ui input parameter" type="text" placeholder="{{description}}" name="{{name}}">
      {{/eq}}



    </div>

  {{/if}}




{{/each}}


</div>
