<h4>Dataset</h4>

{{#each parameters}}

  {{#if this.schema}}

    <div data-type="definition" data-schema="{{type}}"></div>

  {{else}}

    <div class="ui form equal width">

      <div class="eight wide field" {{#if description}}data-tooltip="{{description}}"{{/if}} data-position="right center">
        <label>{{name}}</label>

        {{#eq fieldType "select"}}
          <select class="ui dropdown parameter" name="{{name}}" {{#if selectMultiple}}multiple=""{{/if}}>
            <option value=""></option>
            {{#each fieldValues}}
              <option value="{{this}}" {{#eq defaultValue this}}selected{{/eq}}>{{this}}</option>
            {{/each}}
          </select>
        {{/eq}}

        {{#eq fieldType "input"}}
          <input class="ui input parameter" type="{{inputType}}" placeholder="{{description}}" name="{{name}}"
            data-format="{{format}}">
        {{/eq}}

      </div>

    </div>

  {{/if}}


{{/each}}
