<h4>Dataset</h4>

<div class="ui form equal width" data-schema="{{type}}" data-root>

  {{#each parameters}}

    {{#if this.schema}}

      <div class="schema input" data-type="definition"
        data-schema="{{type}}"
        data-property="{{name}}"></div>

    {{else}}

      <div class="eight wide field"
        {{#if description}}data-tooltip="{{description}}"{{/if}}
        data-position="right center"
        data-property="{{name}}"
        >
        <label>{{name}}</label>

        {{#eq fieldType "select"}}
          <select class="ui dropdown parameter" name="{{name}}" {{#if selectMultiple}}multiple=""{{/if}}
          data-rules="{{rules}}"
          >
            <option value=""></option>
            {{#each fieldValues}}
              <option value="{{this}}" {{#eq defaultValue this}}selected{{/eq}}>{{this}}</option>
            {{/each}}
          </select>
        {{/eq}}

        {{#eq fieldType "input"}}
          <input class="ui input parameter" type="{{inputType}}" placeholder="{{description}}" name="{{name}}"
            data-format="{{format}}"
            data-rules="{{rules}}"
            >
        {{/eq}}

      </div>


    {{/if}}

  {{/each}}

</div>
