<h2>
  Data stories
</h2>

<p>
A <strong>data story</strong> is a high-level abstraction
of an API interaction that involves an API operation, an
input and an output all bundled together as one
executable unit.
</p>


<div class="ui cards stories top margin">

  <div class="ui card">
    <div class="content">
      <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
    </div>
    <div class="ui bottom attached button" data-action="create story">
      <i class="add icon"></i>
      Create a story
    </div>
  </div>

  {{#each stories}}

    <div class="ui story card" data-id="{{id}}">

      <div class="ui content blurring">

        <div class="ui inverted dimmer">
          <div class="ui indeterminate text loader">Playing story...</div>
        </div>
        <div class="header">{{title}}</div>
        <div class="meta">
          {{#if tsHuman}}
            <small>Updated {{tsHuman}} ago</small>
          {{/if}}
        </div>
        <div class="description">
          {{description}}
        </div>
        <div class="result">
          <span class="verb ui circular label mini empty status code"></span>
          <span class="status text"></span>
          <small>in <span class="duration"></span> secs</small>
        </div>
      </div>
      <div class="extra content">

        <button class="ui icon button tiny basic compact left floated"
          data-tooltip="Play story"
          data-action="play story"
          data-id="{{id}}">
          <i class="play icon"></i>
        </button>

        <span class="right floated settings">
          <div class="ui icon top left pointing dropdown"
            data-tooltip="Settings">
            <i class="ellipsis vertical icon"></i>
            <div class="menu">
              <div class="item"
                data-action="edit story"
                data-id="{{id}}">
                <i class="edit icon"></i> Edit
              </div>
              <div class="item"
                data-action="duplicate story"
                data-id="{{id}}">
                <i class="copy icon"></i> Duplicate
              </div>
              <div class="item"
                data-action="delete story"
                data-id="{{id}}">
                <i class="delete icon"></i> Delete
              </div>
            </div>
          </div>

        </span>
      </div>
    </div>



  {{/each}}



</div>
