<div class="ui fixed menu">
  <div class="ui container">

    {{#if bookmarks}}
      <div class="ui pointing dropdown link item">
        <span class="text">{{spec.info.title}}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Bookmarks</div>
          {{#each bookmarks}}
            <a class="item" href="/pages/openapis.html?spec={{specUrl}}">{{title}}</a>
          {{/each}}
          <div class="header">Other</div>
          <a class="item" href="/pages/openapis.html">Home</a>
        </div>
      </div>
    {{else}}
      <div class="ui pointing dropdown link item">
        <span class="text">{{spec.info.title}}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Other</div>
          <a class="item" href="/pages/openapis.html">Home</a>
        </div>
      </div>
    {{/if}}


    <a class="item" href="#" data-action="bookmark api">
      <span>
        <i class="bookmark icon"></i>
      </span>
    </a>


    <a href='#' class="item" data-section="general">
      General
    </a>

    <a href='#' class="item" data-section="definitions">
      Definitions
    </a>

    <a href='#' class="item" data-section="security">
      Security
    </a>

    <a href='#' class="item" data-section="operations">
      Operations
    </a>

    <a href='#' class="item" data-section="stories">
      Data stories
    </a>

  </div>
</div>
