<h2>Operations grouped by path</h2>
<p>
List of supported API paths with supported summarized operations.
Clicking on a path will open its details.
</p>


{{#if paths}}
<div class="ui segments">
  {{#each paths}}
  <div class="ui clearing segment">

    <div class="ui stackable grid">
      <div class="two column row">
        <div class="column">
          <h4>
            <a href='#' data-type="path" data-id="{{@key}}">{{@key}}</a></h4>
        </div>
        <div class="column">

          <div class="ui list">
            {{#each this}}
              <div class="item">
                {{#verb verb}}{{/verb}}

                {{#if deprecated}}
                  <del>{{summary}}</del>
                {{else}}
                  {{summary}}
                {{/if}}

                {{#if deprecated}}
                  <span class="ui tiny label">deprecated</span>
                {{/if}}
              </div>
            {{/each}}

          </div>

        </div>
      </div>
    </div>

  </div>
  {{/each}}
</div>
{{else}}
  <img class="ui wireframe image" src="../../../../assets/images/common/paragraph.png">
{{/if}}
