<h2>Security definitions</h2>
<p>
  Security schemes that can be used by the operations. Supported schemes are basic authentication,
  an API key (either as a header or as a query parameter)
  and OAuth2's common flows (implicit, password, application and access code).
</p>


{{#if definitions}}
  <div class="ui special cards security definitions">

    {{#each definitions}}
      <div class="ui card {{#if activated}}raised{{/if}}">

        <div class="content">
          <span class="ui label {{#if activated}}primary green {{else}} basic blue {{/if}} right floated">{{type}}</span>
          <div class="header">{{@key}}</div>
          <div class="description">
            {{#if description}}
              {{#markdown}}{{description}}{{/markdown}}
            {{else}}
              <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
            {{/if}}
          </div>

          {{#if hasProperties}}
            <h4>Properties</h4>
            <table class="ui very basic compact table">
              <tbody>

                {{#eq type "apiKey"}}
                  <tr>
                    <td>name</td>
                    <td>
                      {{#if name}}<span class="ui label basic blue">{{name}}</span>{{/if}}
                    </td>
                  </tr>
                  <tr>
                    <td>in</td>
                    <td>
                      {{#if in}}<span class="ui label basic blue">{{in}}</span>{{/if}}
                    </td>
                  </tr>
                {{/eq}}

                {{#eq type "oauth2"}}
                  <tr>
                    <td>flow</i></td>
                    <td>
                      {{#if flow}}<span class="ui label basic blue">{{flow}}</span>{{/if}}
                    </td>
                  </tr>
                  <tr>
                    <td>authorizationUrl</td>
                    <td>
                      {{#if authorizationUrl}}<a href="{{authorizationUrl}}" target="_blank"><i class="ui icon external"></i></a>{{/if}}
                    </td>
                  </tr>
                  <tr>
                    <td>tokenUrl</td>
                    <td>
                      {{#if tokenUrl}}<a href="{{tokenUrl}}" target="_blank"><i class="ui icon external"></i></a>{{/if}}
                    </td>
                  </tr>
                {{/eq}}

              </tbody>
            </table>

            {{#eq type "oauth2"}}

              <h4>Scopes</h4>
              {{#if scopes}}
              <div class="ui relaxed divided list">
                {{#each scopes}}
                <div class="item">
                  <div class="content">
                    <a class="header scope">{{@key}}</a>
                    <div class="description">{{.}}</div>
                  </div>
                </div>
                {{/each}}
              </div>
              {{else}}
                <img class="ui wireframe image" src="../../../../assets/images/common/paragraph.png">
              {{/if}}

            {{/eq}}

          {{/if}}

        </div>

        {{#if supported}}

            {{#if activated}}
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui basic blue button"
                  data-tooltip="Edit authentication settings"
                  data-action="activate authentication"
                  data-type="{{type}}"
                  data-name="{{name}}">
                  <i class="edit icon"></i> Edit</div>
                <div class="ui basic red button"
                  data-tooltip="Deactivate authentication"
                  data-action="deactivate authentication"
                  data-type="{{type}}"
                  data-name="{{name}}">
                  <i class="toggle off icon"></i> Off</div>
              </div>
            </div>
            {{else}}
              <div class="ui bottom attached button"
                data-tooltip="Activate authentication"
                data-action="activate authentication"
                data-type="{{type}}"
                data-name="{{name}}">
                  <i class="green toggle on icon"></i>
                  Activate
                  <div class="floating mini ui green label new"
                    data-tooltip="Click to activate this authentication method"
                    data-position="bottom center">NEW</div>
              </div>
            {{/if}}

        {{/if}}

      </div>

    {{/each}}



  </div>
{{else}}
  <img class="ui wireframe image" src="../../../../assets/images/common/paragraph.png">
{{/if}}
