<h2>Data stories</h2>
<p>
A <strong>data story</strong> is a high-level abstraction
of an API interaction that involves an API operation, an
input and an output all bundled together as one.
</p>

<div class="ui top attached menu">
  <a class="item" data-id='new-story'>
    New story
  </a>

</div>

<div class="ui cards stories top margin">

  <div class="card small">
    <div class="content">
      <a class="ui header">A new data story</a>
      <img class="ui wireframe image" src="../../../../assets/images/common/paragraph.png">
    </div>
    <div class="ui bottom attached button" data-action="create story">
      <i class="add icon"></i>
      Create story
    </div>
  </div>

  {{#each stories}}

    <div class="ui card story" data-id="{{id}}">
      <div class="content">
        <div class="ui header">{{title}}</div>
        <div class="meta">
          {{#if tsHuman}}
            Updated {{tsHuman}} ago
          {{/if}}
        </div>
        <div class="description">
          {{description}}
        </div>
      </div>
      <div class="extra content">

        <div class="ui three basic buttons">
          <button class="ui compact button"
            data-action="play story"
            data-id="{{id}}">
            <i class="play green icon"></i>
            Play
          </button>
          <button class="compact ui button"
            data-action="edit story"
            data-id="{{id}}">
            <i class="edit icon"></i>
            Edit
          </button>
          <button class="ui compact icon button"
            data-action="delete story"
            data-id="{{id}}">
            <i class="delete red icon"></i>
            Delete
          </button>

        </div>
      </div>
    </div>

  {{/each}}



</div>
