<h1 id="about" class="ui dividing header">{{info.title}}<span class="ui blue label basic">{{info.version}}</span></h1>


{{#markdown}}{{info.description}}{{/markdown}}


<h2 class="ui header" id="tos">Terms of service</h2>
{{#if info.termsOfService}}
  <p>{{info.termsOfService}}</p>
{{else}}
  <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
{{/if}}

<h2 id="license" class="ui header">License</h2>
{{#if info.license}}
  <p><a href="{{info.license.url}}" target="_blank">{{info.license.name}}</a></p>
{{else}}
  <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
{{/if}}


<h2 id="contact" class="ui header">Contact</h2>
{{#if info.contact}}
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">{{info.contact.name}}</div>
      <div class="meta"><a href="{{info.contact.url}}" target="_blank">{{info.contact.url}}</a></div>
      <div class="meta"><a href="mailto:{{info.contact.email}}">{{info.contact.email}}</a></div>
    </div>
  </div>
</div>
{{else}}
  <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
{{/if}}


{{#if tags}}

<h2 id="tags" class="ui header">Tags</h2>

<div class="ui cards">

  {{#each tags}}
    <a class="ui tag label" title="{{description}}">{{name}}</a>
  {{/each}}

</div>
{{else}}
  <img class="ui wireframe image small" src="../../../../assets/images/common/paragraph.png">
{{/if}}


{{#if externalDocs}}
<h2 id="external-docs" class="ui header">External docs <a href="{{externalDocs.url}}" target="_blank"><i class="external icon small"></i></a></h2>
{{#markdown}}{{externalDocs.description}}{{/markdown}}
{{/if}}
