<div class="ui vertical inverted menu">

  <div class="item">
    <a href="#"><b>{{spec.info.title}}</b></a>
  </div>

  <a class="item" href="/index.html">
    Back home
  </a>

  <a class="item" data-section="general">
    About
  </a>

  <a class="item" data-section="security">
    Security
  </a>

  <a class="item" data-section="graph">
    Surface Graph
  </a>

  <a class="item" data-section="definitions">
      Definitions
    </a>

  <div class="item">
    <div class="header">Operations</div>
    <div class="menu">

      {{#each operations}}
      <a class="item" data-item="operation" data-id="{{operationId}}" title="{{path}}">

        {{#if operationId}}
        {{operationId}}
        {{else}}
        {{path}}
        {{/if}}
        {{#verb verb}}{{/verb}}
      </a>
      {{/each}}


    </div>
  </div>

  <div class="item">
    <div class="header">Model</div>
    
    <div class="menu">

      {{#each classes}}
      <a class="item" data-item="definition" data-id="{{this}}">
        {{this}}
      </a>
      {{/each}}


    </div>
  </div>



</div>