<h2>Operations grouped by path</h2>
<p>
  List of supported API paths with supported summarized operations.
  Clicking on a path will open its details.
</p>



{{#if paths}}

<table class="ui celled table operations">
  <thead>
    <tr>
      <th>Path</th>
      <th>Verb</th>
      <th>Operation Id</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

    {{#each operations}}
    <tr>
      <td data-label="Path"> 
        <a href='#' data-type="path" data-id="{{path}}">{{path}}</a>
      </td>
      <td data-label="Verb">
        {{#verb_label verb}}{{/verb_label}} 
      </td>
      <td data-label="Operation Id">
        <a href="#" data-type="path" data-id="{{this.path}}" data-verb="{{this.verb}}">{{operationId}}</a>
      </td>
      <td data-label="Description">
        {{summary}}
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>



{{else}}
<img class="ui wireframe image" src="../../../../assets/images/common/paragraph.png">
{{/if}}